.card-header-container{
    height:140px;
}

.card-header-back-to-class-container {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:55%;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

.card-header-arrow-hat-classname:hover{
    background-color:rgb(232, 243, 251); ;
    border-radius: 8px;
    padding-right:5px

  }

.fa-chevron-left,
.tiny-hat {
    font-size:26px;
    padding-right:.5rem
}

.tiny-hat{
    color:rgb(11, 119, 83)
}

.tiny-hat.dark{
    color: rgb(125,243,204)
}
/* .card-header-left:hover{
    background-color: rgba(5, 101, 156, 0.08);
    color: rgb(92, 161, 214);
    border-radius: 50%;
  } */

.card-header-class-name.dark{
    color: #9d9488;
}

.card-header-deck-name{
    /* padding-left: 15rem; */
    font-weight: 700;
}

.card-header-deck-name.dark{
    color: rgb(157, 148, 136);
}

.card-header-nav-bar {
    color: #46505e;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    display: flex;
    background-color: rgba(5, 101, 156, 0.08);
    border-bottom: 1px solid rgba(46, 64, 86, 0.26);
    height: 3rem;
    z-index: 2;
}

.card-header-nav-bar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    color: rgba(70, 80, 94, 0.8);
    font-size: 18px;
}

.card-header-nav-bar-link.dark{
    color:rgb(162,154,142)
}

.card-header-nav-bar-link:hover {
    color: #6cb5f9;
    border-bottom: 4px solid rgba(18, 57, 108, 0.18);
}

.card-header-nav-bar-link-active,
.card-header-nav-bar-link:active {
    border-bottom: 4px solid rgb(50, 74, 107) !important;
    color: #46505e !important;
}

.card-header-nav-bar-link-active.dark,
.card-header-nav-bar-link:active.dark {
    border-bottom-color: rgb(66, 98, 142) !important;
    color: rgb(180, 174, 164) !important;
}
