.create-class-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:100%;
    font-family: "Mont Bold", Mont, sans-serif;
}
.create-class-header{
    color: #324A6B;
    padding-bottom: 1rem;
}

.create-class-header.dark{
    color: rgb(156, 184, 209);
}
.create-class-subtitle{
    color: #737373;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1rem;
}

.create-class-subtitle{
    color: rgb(159, 151, 139);
}
.create-class-container input,
.create-class-container textarea{
    border: 2px solid rgba(25, 112, 150, 0.3);
    border-radius: 6px;
    color: #737373;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    padding: 6px 0px;
    width: 100%;
}

.create-class-container.dark input,
.create-class-container.dark textarea{
    border-color: rgba(29, 130, 174, 0.3);
    color: rgb(159, 151, 139);
    outline-color: initial;
    border: 2px solid rgba(25, 112, 150, 0.3);
    background-color: #3b3b3b;
}
.create-class-container textarea{
    min-height:100px;

}
.create-class-submit-button {
    border-radius: 24px;
    background-color: #ff8243;
    color: white;
    border:none;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.create-class-submit-button.dark {
    background-color: rgb(164, 55, 0);
    color: rgb(232, 230, 227);
}

::placeholder{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 100;
    opacity:.5
}

p, label {
    display: block;
    text-align: left;
    line-height: 24px;
    margin-bottom: 4px;
    font-weight: 500;
}


textarea {
    resize: vertical;
}
