.class-about-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 3rem;
}

.class-about-header {
    font-family: "Mont Bold", Mont, sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    width: 100%;
}

.class-about-name-pencil,
.class-about-name-pencil input {
    font-family: "Mont Bold", Mont, sans-serif;
    color: #324A6B;
    font-size: 30px;
    max-width:500px;
    overflow-x: hidden;
    word-wrap: break-word;
}

.class-about-subtitle {
    display: flex;
    flex-direction: column;

    padding-top: .5rem;
    color: #7D93A4;
    width: 100%
}

.big-hat {
    font-size: 120px;
    color: rgb(11, 119, 83)
}

.fa-pencil {
    text-indent: 2rem;
}

.class-about-sub-button-container {
    display: flex;
    flex-direction: column;
}

/* edit in place css */
.class-name-edit-input{
    border: 2px solid rgba(25, 112, 150, 0.3);
    border-radius: 6px;
    color: #737373;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    padding: 6px 0px;
}

.class-name-edit-x,
.class-name-edit-submit {
    background: none;
    border: none;
    cursor: pointer;
    color: #324A6B;
    font-size: 30px;
    padding-left:15px
}



/* edit in place end */

.unique-cards-created {
    padding-top: 5px;
}

.class-about-nav-bar {

    color: #46505e;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    display: flex;
    background-color: rgba(5, 101, 156, 0.08);
    border-bottom: 1px solid rgba(46, 64, 86, 0.26);
    height: 3rem;
}

.class-about-nav-bar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    color: rgba(70, 80, 94, 0.8);
    font-size: 18px;
}

.class-about-nav-bar-link:hover {
    color: #6cb5f9;
    border-bottom: 4px solid rgba(18, 57, 108, 0.18);
}

.class-about-nav-bar-link-active,
.class-about-nav-bar-link:active {
    border-bottom: 4px solid rgb(50, 74, 107) !important;
    color: #46505e !important;
}

.class-about-mastery-bar-container {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.Circular-Progressbar-text {
    padding-top: 0;
}

.class-about-mastery-subtitle {
    position: absolute;
    top: 138px;
    right: 95px;
    font-size: 14px;
    font-weight: normal;
}
