.profile-dropdown {
  position: absolute;
  border: .5px solid black;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  margin-top: 15px;
  border-radius: 8px
}

.hidden {
  display: none;
}

.nav-bar-container {
  display: flex;
  flex-direction: column;
  width:auto;
  max-width: 370px;
  min-width:250px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #324A6B;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  padding-right: 0px;
  margin-right: 0px;
  border-right: 0px;
}

.nav-head-icon {
  color: white
}

.nav-bar-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: .5rem;
  padding-top: 3rem;
  padding-right: .5rem;
  padding-bottom: 2rem;
  font-size: 20px;
  color: white;
}

.nav-bar-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Mont', sans-serif;
  /* justify-content: center; */
}

.fa-face-smile {
  font-size: 46px;
  padding-bottom: 5px
}

.nav-bar-user-gear {
  color: rgba(255, 255, 255, 0.3);
  font-size: 30px
}


.fa-gear {
  transition: rotate 0.5s ease-in-out;
}

.fa-gear-click {
  rotate: 45deg;
}

.fa-gear:hover {
  color: rgb(92, 161, 214);
}

.user-decks-created,
.user-cards-created{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number-decks-created,
.number-cards-created{
  text-align: center;
  color:white
}
.nav-bar-classes-cards-created {
  display: flex;
  flex: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  padding-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom:1px solid rgba(255, 255, 255, 0.3);
}
.user-decks-created,
.user-cards-created{
  display: flex;
  justify-content: center;
}

.my-classes {
  color: white;
}

.nav-bar-my-classes-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-top:2rem

}

.nav-bar-create-class-modal {
  cursor: pointer;
  font-size: 26px;
  border: 2px solid;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 50%;
  color: #324A6B;
  background-color: rgba(255, 255, 255, 0.3);
}
.nav-bar-create-class-modal:hover{
  background-color:rgb(92, 161, 214);
}



.nav-bar-class-card-container {
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.class-list-inactive {
  border-left: 6px solid transparent;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.try-this-one:hover,
.try-this-one-active {
  border-left: 6px solid #C3E6F5;
  color: white;
  width: 100%
}


.little-hat {
  padding-right: 1rem;
  font-size: 3rem;
}

.class-name-edit-modal-delete-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.class-pencil:hover{
  color:rgb(92, 161, 214);
}
.nav-bar-class-card-container:hover .class-delete-button {
  display: block;
}

.class-delete-button {
  position: relative;
  top: -15px;
  cursor: pointer;
  margin-right: 1.5rem;
  padding-left: 7px;
  padding-right: 7px;
  display: none;
  color: rgba(255, 255, 255, 0.3)
}

.class-delete-button:hover {
  background-color:rgb(92, 161, 214);
  border-radius: 50%;
}
