.dashboard-page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100vh; */
    overflow-x: hidden;
    overflow-y: auto;
}

.dashboard-rest-of-page{
    width:100%;
    height: calc(100vh);
    overflow-y: auto;
}


.no-classes-message-container{
    padding-top:10rem;
    text-align: center;
    color: #324A6B;
    font-family: "Mont Bold", Mont, sans-serif;
}
.no-classes-message-container.dark{
    color: rgb(156,184,209);
}
.no-classes-message-header{
    font-size: 5vw;
    padding-bottom: 5rem;
}

.no-classes-message-subheader{
    font-size:2vw
}
