.splash-page-container {
    font-family: "Mont Bold", Mont, sans-serif;
}

.splash-page-carousel-container {
    margin-top: 3rem;
}

.splash-page-carousel-captions {
    position: absolute;
    top: 25%;
    z-index: 1;
    margin-right: 4%;
    margin-left: 4%;
    white-space: pre-line !important;
}

.splash-page-header {
    display: flex;
    color: #ffffff;
    font-weight: bold;
    font-size: 8vw;
    margin-bottom: 4rem;

}

.splash-page-subheader {
    font-family: "Open Sans", sans-serif !important;
    color: #ffffff;
    margin-bottom: 4rem;
    font-size: 2vw;
    display: flex;

}

.subheader-bold-text {
    font-weight: 700;
    padding-left: 10px;
}

.slide,
img {
    height: 100vh;
    object-fit: cover;
}

.carousel {
    height: 100vh;
}


.control-dots {
    height: 100%;
    top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.carousel .control-dots .dot {
    height: 21px;
    width: 21px;
    margin-top: 20px;
    margin-right: 3rem;
}

.carousel .control-dots .dot.selected {
    height: 27px;
    width: 27px;
    margin-right: 2.79rem
}
