.splash-page-nav-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: #fafbfb;
    width: 100%;
    height: 5rem;
    z-index: 1;
  }
  .splash-page-nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
}

.fa-head-side-virus{
    font-size: 2rem;
    color: rgb(30, 3, 251);

}
.splash-page-nav-bar-app-name{
    text-indent: 0.5rem;
    font-size:1.25rem;
    margin-top:0;
    font-family: "Open Sans", sans-serif;
    font-weight:bolder;

  }

.splash-page-nav-link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 350px;
}

  .splash-page-nav-logout-button,
  .login-modal-open-button,
  .splash-page-nav-login-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    background-color: #fafbfb;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    height: 100%;
  }
  .splash-page-nav-dashboard-link,
  .signup-modal-open-button,
  .splash-page-nav-signup-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #ff8243;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
  }

  .splash-page-nav-logout-button:hover,
  .login-modal-open-button:hover,
  .splash-page-nav-login-modal:hover  {
    font-size: 1.1rem;
    background-color: #eff2f2;
  }

  .splash-page-nav-dashboard-link:hover,
  .signup-modal-open-button:hover,
  .splash-page-nav-signup-modal:hover {
    font-size: 1.1rem;
  }
