
.preview-cards-container {
  display: flex;
  flex-direction: column;

  height: 85vh;
  font-family: 'Open Sans', sans-serif;
  z-index: 10;
}


.new-test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* width: 100%; */
  overflow-y: auto;
}

.nav-bar-create-deck-modal {

  display: flex;
  justify-content: center;
  text-align: center;
}

.preview-single-card-outer-container {
  display: flex;
  flex-direction: row;
  /* width:100% */
}

.preview-single-card-inner-container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-top: 2rem;
  width: auto;
  max-width: 1000px;
  height: fit-content;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  color: #24292f;
  font-size: 1.5em;
}

.preview-card-crud-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  color: #757575;

}
.card-pencil::before{
  padding-right: 30px;
}

.card-x::before,
.card-pencil::before {
  font-size: 30px;



}

.preview-single-card-inner-container:focus {
  border: 1px solid #0e7fe1;
}

.preview-card-question {
  border-right: #c4c4c4 1px solid;

}

.preview-card-answer {
  border-left: #c4c4c4 1px solid;

}

.preview-card-question,
.preview-card-answer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  overflow-y: auto;
  width:28vw;
  white-space: pre-wrap;
}

.preview-card-question.dark,
.preview-card-answer.dark {
  color:rgb(206, 202, 195);
}

.preview-card-question::before {
  content: 'Q';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: rgb(103, 113, 125, 0.2);
  margin: 1rem;
}
.preview-card-answer::before {
  content: 'A';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: rgb(103, 113, 125, 0.2);
  margin: 1rem;
}

.create-card-modal {
  align-self: center;
  background-color: #7D93A4;
  margin-top: 12px;
  font-size: 14px;
  height: 60px;
  width: calc(calc(calc(100vh - 114px - 54px - 10vh - 24px) * 1.33333333) * 0.5);
  align-items: center;
  background-color: #8c9faf;
  border: none;
  border-radius: 42px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  justify-content: center;
  letter-spacing: 2px;
  outline-style: none;
  padding: 0 25.2px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.create-card-modal:hover{
background-color: #ff8243;
}

.create-card-modal.dark{
  background-color: rgb(69, 85, 99);
}

.create-card-modal.dark:hover{
  background-color: rgb(164, 55, 0);
  color: rgb(232, 230, 227);
}

.card-x:hover{
  color: rgb(92, 161, 214);
}
