.decks-component-container {
    font-family: 'Mont', sans-serif;
}

.decks-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(191, 191, 191, 0.8);
    padding-right: 3rem;

}

.decks-check-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px
}

.fa-circle-check {
    padding-left: 3rem;
    padding-right: 3rem;
    color: #757575;
}

.decks-deck-names {
    color: #324A6B;
    font-weight: 700;
    padding-bottom: .5rem;
}

.decks-create-decks-modal-button {
    cursor: pointer;
    font-size: 26px;
    border: 2px solid;
    background-color: black;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 4rem;
    border-radius: 50%;
    color: white;
    background-color: #757575;
}

.decks-create-decks-modal-button:hover {
   background-color: rgb(92, 161, 214);
}


.decks-class-card {
    display: flex;
    flex-direction: row;
    padding: 30px 30px 30px 0px;
    border-bottom: 1px solid rgba(191, 191, 191, 0.8);
    width: 100%;
}

.decks-deck-card-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 3.6rem;
}

.decks-card-crud-buttons {
    display: flex;
    flex-direction: row;
}

.edit-class-modal {
    padding-right: 1rem;
    /* margin-right: 1rem; */
    color: #757575;

}
.card-pencil{
    font-size: 20px;

}
.deck-xmark{
    cursor: pointer;
    color: #757575;
    padding-left: 3rem;
    font-size: 22px;

}

.card-pencil:hover,
.deck-xmark:hover {
    color: rgb(92, 161, 214);
}

.decks-class-card:hover {
    background-color: rgb(108, 181, 249, 0.1);
}

.progress-bar-outer {
    background-color: rgba(125, 147, 164, 0.15);
    border-radius: 15px;
    height: 10px;
    width: 30vw;
  }

  .progress-bar-inner {
    height: 10px;
    border-radius: 15px;
    background-color: #29a5dc;
  }

.decks-card-unique-cards{
    padding-left: 20px;
    color: #999999;
    font-size: 12px;
}
